body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fbf9f5;
    }
    .navbar {
        z-index: 1000;
    }

    .navbar-brand {
        font-family: 'Vazirmatn';
        font-size: 24px;
        font-weight: bold;
        }
.navbar-nav .nav-item .nav-link:hover {
    color: #ff6b5a;
}
.form .btn {
    background-color: #ff6b5a;
    width: 130px;
    color: white;
    border-radius: 30px;
}

.form .search {
    border-radius: 50px;
    padding: 3px 10px;
    box-shadow: 0px 0px 1px 3px rgb(248, 245, 245);
    outline: none;
    border: none;
}

.form .search:focus {
    border: 2px #1f6be1 solid;
}

/* section2 */
/* .section2 {
    margin-top: 50px;
}
.section2 .section2COl1 {
    margin-left: 30px;
}

.section2 .section2COl1 h2 {
    font-size: 50px;
    font-weight: 500;
}
.section2 .section2COl1 p {
    width: 400px;
    font-size: 15px;
}

.section2 .section2COl1 button {
    background-color: #1f6be1;
    padding: 10px;
    width: 140px;
    border: none;
    border-radius: 30px;
    color: white;
}

.section2row2 img {
    height: 400px;
    border-radius: 30px;
}

.section2row2 #img1 {
    max-height: 300px;
}
*/ .section1 {
    background-image: url('../images/Hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    color: white;

}

.section1 .overlay {
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.section1 .header img {
    border-radius: 80%;
}

.hero-image {
    position: relative;
    display: inline-block;
    /* یا width:100% */
}

.hero-image img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-image .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* فیلتر دلخواه */
    border-radius: 15px;
    /* اگر میخوای گوشه گرد باشد مثل عکس */
}
