.about {
    padding: 60px;
    background-color: hsl(0, 0%, 96%); 
}
.about h2 {
    color: #333;
    font-size: 28px; 
    margin-bottom: 20px;
}
.about p {
    max-width: 700px;
    line-height: 1.6;
    color: #555;
    font-size: 16px; 
}