* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter',sans-serif
}

body {
    background: linear-gradient(to right, #f3ecdc, #f7f7f7);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.navbar a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

.hero-text h1 {
    font-size: 60px;
    margin-bottom: 15px;
    margin-right: 80px;
    margin-left: 80px
}

.hero-text p {
    margin-left: 80px;
}

.buttons {
    margin-top: 20px;
    margin-left: 80px;
}

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.primary {
    background-color: #ff6b5a;
    color: white;
}

.hero-image img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 80px;
}

/* Top List */
.top-list {
    text-align: center;
    padding: 60px 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    width: 350px;
}

.card img {
    width: 100%;
    border-radius: 50%;
}

/* Fries */
.fries {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px;
}

.fries img {
    width: 300px;
    border-radius: 20px;
    margin-right: 30px;
}

/* --- 8. FOOTER --- */
.site-footer {
    background-color: var(--dark);
    color: rgb(11, 10, 10);
    padding: 80px 5% 40px;
    border-radius: 0;
    margin-top: 50px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-brand { margin-bottom: 30px; }
.footer-bio { color: #030303; line-height: 1.8; font-size: 0.95rem; max-width: 350px; }

.footer-links h4 {
    font-family: var(--font-heading);
    color: var(--aqua);
    margin-bottom: 25px;
    font-size: 1.3rem;
}

.team-list, .footer-links ul { list-style: none; }
.team-list li, .footer-links ul li { margin-bottom: 15px; color: #070707; font-size: 0.9rem; }
.team-list li strong { color: var(--white); display: block; font-weight: 700; margin-bottom: 2px;}
.footer-links ul li a { text-decoration: none; color: #0e0d0d; transition: 0.3s; }
.footer-links ul li a:hover { color: var(--coral); }

.footer-bottom {
    margin-top: 60px;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    color: #666;
    font-size: 0.85rem;
}