/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background: #fdfaf6;
    color: #222;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #1e6bff;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav a:hover {
    color: #1e6bff;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: #6B7280;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 1.3;
}

.hero p {
    font-size: 18px;
    color: #555;
}

.card {
    display: flex;
    background: white;
    margin-bottom: 25px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.card-text {
    padding: 20px;
}

.card-text h3 {
    color: #1e88e5;
    margin-bottom: 10px;
}

.card-text button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #1e88e5;
    border: none;
    color: white;
    border-radius: 5px;
}

.footer {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("images/خواجه\ سکندر\ 2.jpg") center/cover no-repeat;
    text-align: center;
    color: white;
    padding: 60px 20px;
}

.footer button {
    margin-top: 15px;
    padding: 12px 25px;
    background: #1e88e5;
    border: none;
    color: white;
    border-radius: 5px;
}
